/* para el collage abajo*/
body {
  
  margin: 0;
  overflow-x: hidden;
}

.caida {
  position: relative;
  width: 100%;
  height: 100vh;
}

.imge {
  position: absolute;
  width: 15%;
  animation: caer linear infinite;
}

@keyframes caer {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0.3;
  }
}
.div{
  width: 100px;
  height: 100px;
  object-fit: cover;
  
}

/* para el collage arriba */

.vid {
  display: flex;             /* Los coloca uno al lado del otro */
  width: 100vw;              /* Todo el ancho de la pantalla */
  height: 100vh;             /* Todo el alto de la pantalla */
  overflow: hidden;          /* Evita barras de scroll */
}

.vid video {
  width: 50%;                /* Cada video ocupa la mitad del ancho */
  height: 65%;              /* Ocupan toda la altura disponible */
  object-fit: cover;         /* Recorta el video sin deformarlo */
  border: 2px solid #498feb;    /* Opcional: marco negro */
}
